
      <%# 投稿１件分の表示 %>
      <div class='post-content'>
        <%# コメントに関する表示 %>
        <div class='comment'>
          <div class='user_name'>
            <%= link_to memo.user.name,user_path(memo.user.id) %>
          </div>
          <div class="icon-circle">
            <%= link_to image_tag("ch_yusha.png", size: "50x50"), user_path(memo.user.id), method: :get, class: "icon-circle" %>
          </div>
        </div>
        <%# 質問本文の表示 %>
        <div class='question'>
          <div class='question-top'>
            <div class="question-top__title">
              <%=link_to memo.title ,memo_path(memo.id) %>
            </div>
          </div>
          <div class='question-middle'>
            <div class='question-middle__content'>
              <div class="tag">
                <%= image_tag "kanban.png"%>
              </div>
              <ul class = "tag-lists">
                <li>日記</li>,
                <li><%= memo.tags.first&.tag_name %></li>
              </ul>
            </div>
          </div>
          <div class='question-bottom'>
            <div class= "created_at">
              <%= memo.created_at.strftime('%Y/%m/%d %k:%M') %>
            </div>
            <div class="favorite_btn">
              <%= image_tag "heart_empty.png"%>
              <p class="fukidashi" >お気に入り</P>
            </div>
          </div>
        </div>
      </div>

      