<main class="new-main">
  <div class="new_inner">
    <% if user_signed_in? %>
      <%# ログインしているときは以下を表示する %>
      <div class="new-greeting"> 
        <a>何を編集しますか？</a>
        <%= link_to current_user.name + "さん", class: :greeting__link%>
      </div> 
    <% end %>

    <%= form_with model: @memo_form, url: memo_path(@memo.id),method: :patch, local: true do |f| %>

      <div class="form_main">
        <div class="image-field">
          <div class="image-left">
            <%= f.file_field :image %>
          </div>
          <div class="click-upload">
            <div id="previews"></div>
          </div>
        </div>
        <div class = "form_top">
          <%= f.text_field :title, class:"form_title", placeholder:"例）タイトル" %>
          <%# <%= f.text_field :tag_name, class:"form_tag", placeholder:"例）タグの編集機能は未実装です" %> %>
        </div>
        <div class= "maintext_area", id='editor'>
          <div class= "maintext_left">
          <a class = "field_name">Memo</a>
            <%= f.text_area :text,id: "input_code", class:"main_text", placeholder:"例）記録したいことを書きましょう"%>
          </div>
          <div class= "maintext_right">
          <a class = "field_name">Preview</a>
            <div id="code_markdown", class="main_text_preview" ></div>
          </div>
        </div>
        <div class="form_submit">
            <%= f.submit "記録する" ,class: "submit_btn" %>
        </div>
      </div>

    <% end %>
  </div>
</main>