<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <%# ログインしているときは以下を表示する %>
      <div class="greeting"> 
        こんにちは、
        <%= link_to current_user.name + "さん", class: :greeting__link%>
        <%# <%= link_to current_user.name + "さん", user_path(current_user.id), class: :greeting__link%> 
      </div> 
    <% end %>
    
    <%= form_with model: @memo,method: :post, local: true do |f| %>

      <div class="form_main">
        <div class= "form_top">
          <%= f.file_field :image ,class: "image_form" %>
          <%= f.text_field :title, class:"form_title", placeholder:"例）タイトル" %>
          <%= f.text_field :tag, class:"form_tag", placeholder:"例）タグを入力してください" %>
        </div>
        <div class= "maintext_area", id='editor'>
          <div class= "maintext_left">
          <h2 >Memo</h2>
            <%= f.text_area :text, "v-model" => "input", class:"main_text", placeholder:"例）記録したいことを書きましょう"%>
          </div>
          <div class= "maintext_right">
          <h2 >Preview</h2>
            <div v-html="convertMarkdown", class="main_text_preview" ></div>
          </div>
        </div>
        <div class="form_submit">
            <%= f.submit "記録する" ,class: "submit_btn" %>
        </div>
      </div>

    <% end %>
    
  </div>
</div>