<div class="show-main">
  <div class="show-contents">
    <%# 質問内容の表示 %>
    <div class="show-question">
      <div class="show-question__title">
        <%= @memo.title %>
      </div>
      <div class="show-question__content">
        <%= qiita_markdown(@memo.text) %>
      </div>
      <div class="show-question__name">
        <%= @memo.user.name %>
      </div>
    </div>

    <%# コメント一覧の表示 %>
    <div class="show-answers">
      <div class="answers-heading">
        コメント一覧：
      </div>
      <% @memo.comments.each do |comment| %>
        <div class="answer-content">
          <div class="answer-content__text">
            <%= qiita_markdown(comment.text) %>
          </div>
          <div class="answer-content__name">
            <%= comment.user.name %>
          </div>
          <div class="comment-destroy">
          <% if comment.user.id == current_user.id %>
            <%= link_to "削除" ,"/memos/#{@memo.id}/comments/#{comment.id}", method: :DELETE %>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>  
    <%# //コメント一覧の表示 %>
    <%# コメント投稿フォームの表示 %>
    <div class="show-answer-form">
      <%= form_with(model: [@memo, @comment], local: true) do |form| %>
        <div class="show-answer-form__heading">
        </div>
        <div class="show-answer-form__content">
          <%= form.text_area :text, placeholder: "コメントを記入", rows: "4" %>
        </div>
        <div class="show-answer-form__submit">
          <%= form.submit "POST" %>
        </div>
      <% end %>    
    </div>
    <%# //コメント投稿フォームの表示 %> 
  </div>
</div>