<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memopro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
    <%# <-- Vue.js読み込みの記述--> %>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js'></script>
    <%# <--marked.js読み込みの記述--> %>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/marked/2.0.1/marked.js'></script>
    <%# <--highlight.js読み込みの記述--> %>
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav_left">
            <%= link_to image_tag("logo.png", class: :logo), root_path %>
          </div>
          <div class="menus">
            <%= link_to "HOME", root_path, class: "menu" %>
            <%= link_to "タグ一覧", root_path, class: "menu" %>
            <%= link_to "マイページ", root_path, class: "menu" %>
            <%= link_to "お気に入り", root_path, class: "menu" %>
          </div>
          
          <div class="nav_right">
           <%# ログインしているときは以下を表示 %>
          <% if user_signed_in? %>
            <div class = "user_btns">
              <p class = "p_text">ログアウト</p>
              <%= link_to image_tag("kanban.png", size: "50x50"), 
                  destroy_user_session_path, method: :delete, class: "nav_icon"%>
            </div>
              <div class = "user_btns">
              <p class = "p_text" >メモする</p>
              <%= link_to image_tag("memocho_01.png", size: "50x50"), new_memo_path, method: :get, class: "nav_icon" %>
            </div>
          <% else %>
            <%# ログインしていないときは以下を表示 %>
            <div class = "user_btns">
              <p class = "p_text">ログイン</p>
              <%= link_to image_tag("ie.png", size: "50x50"), 
                  new_user_session_path, class: "nav_icon" %>
            </div>
            <div class = "user_btns">
              <p class = "p_text" >新規登録</p>
              <%= link_to image_tag("book_01_green.png", size: "50x50"), new_user_registration_path, class: "nav_icon" %>
            </div>
          <%end%>
          </div>
        </div>
      </div>
    </header>
    <%# フラッシュメッセージの表示 %>
    <div class="flash-message">
      <% flash.each do |message_type, message| %>
        <%= message %>
      <% end %>
    </div>
    <%# //フラッシュメッセージの表示 %>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © MemoPro All rights reserved.</p>
    </footer>
  </body>
</html>
